div {
    position: relative;
    width: 800px;
    height: 250px;
    border: 5px solid #e91e63;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0) 50%, #e91e63 50%) 100% 100% / 50% 50%,
        linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, #e91e63 50%) 100% 0% / 50% 50%,
        linear-gradient(327deg, rgba(255, 255, 255, 0) 50%, #e91e63 50%) 0% 0% / 25% 50%,
        linear-gradient(214deg, rgba(255, 255, 255, 0) 50%, #e91e63 50%) 0% 100% / 24% 50%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    font-weight: 800;
}

div::before {
    content: " ";
    position: absolute;
    top: 50%;
    right: 26%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: #ffa500;
    border-radius: 50%;
}

div p {
    background-color: #e91e63;
    color: white;
    padding: 20px;
    margin-right: 5px;
    margin-left: 100px;
}