* {
    margin: 0;
    padding: 0;
}

.Real-Estate .header {
    background-color: black;
    padding: 20px 50px;
}

.Real-Estate .header form {
    display: flex;
    justify-content: space-between;
}

.Real-Estate .header form div::before {
    content: "$";
    background: #f7f7f7;
    padding: 9px 12px;
    right: -32px;
    position: relative;
    border-right: 1px solid #dfdfdf;
    top: 1px;
}

.Real-Estate .header input,
.Real-Estate .header select {
    padding: 10px 28px;
    border: none;
    outline: none;
}

.Real-Estate .header input[type="submit"] {
    background-color: #0eaaa6;
    color: white;
}

.Contents {
    text-align: center;
    background-color: #0eaaa6;
    color: white;
    padding: 50px 0;
}

.Contents h1 {
    padding: 30px 0;
}